@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="container-contatos">
        <div class="titulo">
            <h1>Contatos</h1>
        </div>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Número</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>
                    <div class="iniciais"><h1>P</h1></div>
                </td>
                <td>Priscila</td>
                <td>(11) 91234-5678</td>
                <td>priscila@email.com</td>
                <td>
                    <div class="botao editar"><a>Editar</a></div>
                </td>
                <td>
                    <div class="botao excluir"><a>Excluir</a></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="iniciais"><h1>A</h1></div>
                </td>
                <td>Amanda</td>
                <td>(11) 91234-5678</td>
                <td>amanda@email.com</td>
                <td>
                    <div class="botao editar"><a>Editar</a></div>
                </td>
                <td>
                    <div class="botao excluir"><a>Excluir</a></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="iniciais"><h1>B</h1></div>
                </td>
                <td>Bruno</td>
                <td>(11) 91234-5678</td>
                <td>bruno@email.com</td>
                <td>
                    <div class="botao editar"><a>Editar</a></div>
                </td>
                <td>
                    <div class="botao excluir"><a>Excluir</a></div>
                </td>
            </tr>
        </table>
    </div>
</div>
