@import url('https://fonts.googleapis.com/css2?family=Arima:wght@200;400&family=Roboto&family=Roboto+Slab:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
    background-color: #A3D9C9;
    display: flex;
    width: 100vw;
    height: 7vh;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0 10px 0 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Arima', cursive;
    font-weight: 400;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    margin: 0 0 0 5px;
}

.logo a {
    font-family: 'Arima', cursive;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

